.sandwich-button{
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
  @media (min-width: $breakpoint-2){
    display: none;
  }

  &__lines {
    display: flex;
    flex-direction: column;
    width: 18px;
    height: 14px;
    justify-content: space-between;
  }

  &__line {
    background-color: white;
    height: 2px;
    border-radius: 1px;
    transition: 0.3s background-color ease;
  }

  &:hover {
    .sandwich-button__line {
    }
  }


}