.button {
  display: block;
  outline: 0;
  border: 0;
  @include font-1;
  text-transform: uppercase;
  padding: 1em;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  transition: 0.3s color ease-in-out 0.1s, 0.3s border ease-in-out 0.2s, 0.3s background ease-in-out;
  
  &_blue {
    color: white;
    background-color: $color-lighblue;
    border: 1px solid white;
    &:hover {
      color: $color-lighblue;
      background-color: white;
      border: 1px solid $color-lighblue;
    }
  }
  
  &_white {
    color: $color-text-1;
    background-color: white;
    border: 1px solid $color-text-1;
    &:hover {
      color: white;
      background-color: $color-text-1;
      border: 1px solid white;
    }
  }
    
}