mixin multiple-select(args)
    .multiple-select&attributes(attributes)
        select(name='', multiple, data-multiple-select).select__field
            option(value= 'Комната 1' ) Название комнаты А
            option(value= 'Комната 2' ) Название комнаты B
            option(value= 'Комната 3' ) Название комнаты C
            option(value= 'Комната 4' ) Название комнаты D
        