.logo {
  display: block;
  cursor: pointer;
  @include title-1;
  
  &__text {
    text-transform: uppercase;
    color: white;
    
    &_color {
      color: $color-lightblue-5;
    }
  }
  
  &_preloader {
    @include title-4;
    opacity: 0;
    visibility: hidden;
  }
  
  &__part {
    display: inline-block;
  }
}