mixin select(args)
    .select&attributes(attributes)
        select(name='', data-select).select__field
            option(value= 'Администратор' selected) Администратор
            option(value= 'Модератор' ) Модератор