.navigation {
  display: flex;
  color: white;
  
  &__item {
    @include font-1;
    padding: 0.5em 0;
    display: block;
    color: white;
    text-transform: uppercase;
    margin-right: 4.31em;
    transition: 0.3s color ease-in-out;
    &:last-child {
      margin-right: 0;
    }
  
    @media (max-width: $breakpoint-2 - 1){
      display: none;
    }
    
    &:hover {
      color: $color-lightblue-2;
    }
  }
}