include ../logo/logo
include ../navigation/navigation

mixin header(args)
    .header&attributes(attributes)(data-inst='header')
        -
            var navigation = [
            {
            "anchor": "Бизнес",
            "link": "#"
            },
            {
            "anchor": "О&nbsp;нас",
            "link": "#"
            },
            {
            "anchor": "Цены",
            "link": "#"
            },
            {
            "anchor": "Оформить заказ",
            "link": "#"
            }

            ];

        -
            var logo = [
            {
            "text": "<span class='logo__text'>LoremIpsum.</span><span class='logo__text logo__text_color'>Net</span>",
            }
            ];


        .page-container.header__page-container
                +logo(logo)(data-inst='logo-header')
                +navigation(navigation)(data-inst='navigation-header')



