include ../sandwich-button/sandwich-button
include ../page-title/page-title

mixin header(args)
    .header&attributes(attributes)
        .page-container
            .header__part-container
                .header__part.header__part_left
                    +sandwich-button
                .header__part.header__part_main
                    +page-title({title: 'Пользователи', counter: '5'})
                .header__part.header__part_right
                    .header__icon-panel
                        button.header__icon
                           +svg('../../components/header/images/fullscreen.svg', {class: 'header__icon_fullscreen'})

                        a(href='#').header__icon
                            +svg('../../components/header/images/information.svg', {class: 'header__icon_information'})