.header {
	position: fixed;
	left: 0;
	right: 0;
	top:0;
	background: rgba($color-blue-1, 0.9);
	z-index: 10;
  padding: #{smooth-value(10px, 36px, $breakpoint-2, $breakpoint-4, 'w')} 0;
  @media (min-width: $breakpoint-3){
    padding: 36px 0;
  }
  
  @media (max-width: $breakpoint-2 - 1){
    padding: 10px 0;
  }
	
	
	&__page-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
