include ../table-row/table-row
include ../input-mail/input-mail
include ../select/select
include ../multiple-select/multiple-select

mixin page-table(args)
    .page-table&attributes(attributes)
        +table-row.table-row__head
            +set('cell-1')
                .table-row__title Пользователь ID
            +set('cell-2')
                .table-row__title Электронная почта
            +set('cell-3')
                .table-row__title Роль
            +set('cell-4')
                .table-row__title Комнаты

        +table-row
            +set('cell-1')
                .table-row__title.table-row__title-mobile Пользователь ID
                .table-row__id 000000
            +set('cell-2')
                .table-row__title.table-row__title-mobile Электронная почта
                +input-mail
            +set('cell-3')
                .table-row__title.table-row__title-mobile Роль
                +select
            +set('cell-4')
                .table-row__title.table-row__title-mobile Комнаты
                +multiple-select


        +table-row
            +set('cell-1')
                .table-row__title.table-row__title-mobile Пользователь ID
                .table-row__id 000000
            +set('cell-2')
                .table-row__title.table-row__title-mobile Электронная почта
                +input-mail
            +set('cell-3')
                .table-row__title.table-row__title-mobile Роль
                +select
            +set('cell-4')
                .table-row__title.table-row__title-mobile Комнаты
                +multiple-select


        +table-row
            +set('cell-1')
                .table-row__title.table-row__title-mobile Пользователь ID
                .table-row__id 000000
            +set('cell-2')
                .table-row__title.table-row__title-mobile Электронная почта
                +input-mail
            +set('cell-3')
                .table-row__title.table-row__title-mobile Роль
                +select
            +set('cell-4')
                .table-row__title.table-row__title-mobile Комнаты
                +multiple-select



        