mixin page-title(title)
    .page-title&attributes(attributes)
        h2.page-title__title
            span!= title.title
            span.page-title__counter!= '&nbsp;(' + title.counter + ')'

        