.top {
  position: relative;
  padding-top: calc(#{smooth-value(10px, 72px, $breakpoint-2, $breakpoint-4, 'w')} + 40px);
  
  @media (min-width: $breakpoint-3){
    padding-top: 110px;
  }
  
  @media (max-width: $breakpoint-2 - 1){
    padding-top: 42px;
  }
  
  &__bg {
    position: absolute;
    z-index: -1;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }
  
  &__bg-img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    min-height: 100%;
    height: auto;
    min-width: 100%;
  }
  
  &__content {
    position: relative;
    z-index: 1;
    
    @media (min-width: $breakpoint-2) {
      max-width: 65%;
    }
  }
  
  &__infoblock-1 {
    padding: #{smooth-value(30px, 58px, $breakpoint-2, $breakpoint-4, 'w')} 0;
  
    @media (min-width: $breakpoint-3){
      padding: 58px 0;
    }
  
    @media (max-width: $breakpoint-2){
      padding: 30px 0;
    }
  }
  
  &__button-contain {
    display: flex;
    margin-bottom: 50px;
  
    @media (max-width: $breakpoint-2 - 1){
      margin-bottom: 15px;
    }
  }
  
  &__button {
    width: 182px;
    margin-right: 28px;
    &:last-child {
      margin-right: 0;
    }
  }
  
}

