.input-file {
  position: relative;
  z-index: 1;
  height: 50px;
  width: 100%;
  
  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
    z-index: 0;
  }
  
 
  
  &__label {
    @include input-normal;
    @include input-style;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid $color-lighblue;
    transition: 0.3s color ease-in-out 0.1s, 0.3s border ease-in-out 0.2s, 0.3s background ease-in-out;
    &:hover {
      background: $color-lighblue;
      border-color: white;
      color: white;
      
      .input-file__icon {
        stroke: white;
        fill: white
      }
    }
  }
  
  &__icon {
    width: 20px;
    height: 30px;
    stroke: #272733;
    stroke-width: 2px;
    margin-right: 0.6em;
    transition: 0.3s stroke ease-in-out 0.1s;
  }
  
  
    
}