.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom:0;
  flex-shrink: 0;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
  height: $header-height;
  background: white;
  display: flex;
  align-items: center;


  &__button-container {
    display: flex;
    justify-content: flex-end;
  }
}