$color-blue-1: #10101d;
$color-lighblue: #3e9cdc;
$color-lightblue-2: #43abf0;
$color-lightblue-3: #286791;
$color-lighblue-4: #286690;
$color-lightblue-5: #42a9ed;

$color-blue-2: #272733;
$color-blue-3: #10101d;
$color-blue-4: #3d4050;

$color-text-1: #2a2b30;
$color-text-2: #bbbbbb;
$color-text-3: #c3c3c3;

$color-ligtgray: #dedee0;
$color-lightgray-2: #bfbfc2;

$color-gray-2: #e6e6e6;
$color-gray-3: #808080;
$color-gray-4: #404040;
$color-gray-5: #d9d9d9;
$color-gray-6: #595959;
$color-gray-7: #f2f2f2;
