@import './fonts.scss';

@mixin title-1 {
  font-family: 'Raleway', Arial, sans-serif;
  font-size: #{smooth-value(20px, 28px, $breakpoint-2, $breakpoint-4, 'w')};
  line-height: 1;
  font-weight: 800;
  margin: 0;
  
  @media (min-width: $breakpoint-3){
    font-size: 28px;
  }
  
  @media (max-width: $breakpoint-2){
    font-size: 20px;
  }
}

@mixin title-2 {
  font-family: 'Lato', Arial, sans-serif;
  font-weight: bold;
  font-size: #{smooth-value(34px, 48px, $breakpoint-2, $breakpoint-4, 'w')};
  line-height: 1.3;
  margin: 0;
  
  @media (min-width: $breakpoint-3){
    font-size: 48px;
  }
  
  @media (max-width: $breakpoint-2 - 1){
    font-size: 24px;
  }
}

@mixin title-3 {
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 900;
  font-size: #{smooth-value(22px, 36px, $breakpoint-2, $breakpoint-4, 'w')};
  line-height: 1;
  margin: 0;
  
  @media (min-width: $breakpoint-3){
    font-size: 36px;
  }
  
  @media (max-width: $breakpoint-2 - 1){
    font-size: 22px;
  }
}

@mixin font-1 {
  font-family: 'Lato', Arial, sans-serif;
  font-size: #{smooth-value(11px, 13px, $breakpoint-2, $breakpoint-4, 'w')};
  font-weight: 600;
  letter-spacing: 0.025em;
  
  @media (min-width: $breakpoint-3){
    font-size: 13px
  }
  
  @media (max-width: $breakpoint-2){
    font-size: 11px;
  }
}


@mixin font-2 {
  font-family: 'Lato', Arial, sans-serif;
  line-height: 1.2;
  font-size: #{smooth-value(16px, 20px, $breakpoint-2, $breakpoint-4, 'w')};
  font-weight: bold;
  
  @media (min-width: $breakpoint-3){
    font-size: 20px
  }
  
  @media (max-width: $breakpoint-2){
    font-size: 16px;
  }
}

@mixin font-3 {
  font-family: 'Lato', Arial, sans-serif;
  line-height: 1.2;
  font-size: #{smooth-value(14px, 18px, $breakpoint-2, $breakpoint-4, 'w')};
  font-weight: normal;
  
  @media (min-width: $breakpoint-3){
    font-size: 18px
  }
  
  @media (max-width: $breakpoint-2){
    font-size: 14px;
  }
}