
$breakpoint-1: 375px;
$breakpoint-2: 768px;
$breakpoint-3: 1024px;
$breakpoint-4: 1360px;
$breakpoint-5: 1600px;

$fhd-width: $breakpoint-4;
$fhd-height: $breakpoint-2;

$header-height: 48px;
$gutter: 16px;